DATABASE_URL=""
PORT=3000
NODE_ENV=development
APP_URL=
FRONTEND_URL=



STRIPE_SECRET_KEY=

API_SECRET=

# n8n Webhooks
N8N_GENERATE_UPLOAD_LINK_WEBHOOK_URL=https://your-n8n-instance.com/webhook/invoice-upload-link
N8N_INVOICE_PROCESSING_WEBHOOK_URL=https://your-n8n-instance.com/webhook/invoice-processing
N8N_GENERIC_EMAIL_WEBHOOK_URL=https://your-n8n-instance.com/webhook/generic-email
N8N_PAYOUT_TRIGGER_WEBHOOK_URL=https://your-n8n-instance.com/webhook/payout-trigger
