DATABASE_URL=""
PORT=3000
NODE_ENV=development
APP_URL=http://localhost:3000


STRIPE_SECRET_KEY=

API_SECRET=sec_9f7d2b8e4a3c1f5b0d6e8a9c2b4f6e1a

# N8N__WEBHOOK_URL="https://automation.hktechlabs.com/webhook"
N8N__WEBHOOK_URL=""
